<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Завантаження файлів</title>
    <link rel="stylesheet" href="https://autote.tascombank.ua/views/index.css">
</head>
<body>

<div class="container">
    <div class="header">
        <img src="https://tascombank.ua/static/media/TAS_logo_slogan.svg" alt="Логотип">
        <div class="datetime" id="currentDateTime"></div>
    </div>

    <div class="box_info">
        <p>Завантажте файли для обробки</p>
        <div class="info">
            <h3>Інструкція:</h3>
            <ul>
                <li>Усі файли виключно формату <strong>CSV</strong>.</li>
                <li>Файли реєстру повинні містити лише таблицю, без додаткових описів.</li>
                <button class="instruction" type="button" onclick="showInstruction()">Детальніше</button>
            </ul>
        </div>        
    </div>
    <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">

        <div class="upload-button" id="registryButton" ondrop="handleDrop(event, 'registry')" ondragover="handleDragOver(event)">
            <label for="registry">
                <input id="registry" type="file" name="registryFiles" accept=".xlsx,.xls,.csv" multiple required onchange="updateFileName('registry')">
                <span id="registryButtonText">Завантажити реєстр</span>
            </label>
            <div class="file-info" id="registryFileName"></div>
        </div>

        <div class="upload-button" id="partnerQueryButton" ondrop="handleDrop(event, 'partnerQuery')" ondragover="handleDragOver(event)">
            <label for="partnerQuery">
                <input id="partnerQuery" type="file" name="requestFile" accept=".xlsx,.xls,.csv" multiple required onchange="updateFileName('partnerQuery')">
                <span id="partnerQueryButtonText">Завантажити запит партнера</span>
            </label>
            <div class="file-info" id="partnerQueryFileName"></div>
        </div>
        
        
        <div class="box_btn">
            <button type="button" onclick="submitForm('c2a')">Завантажити c2a</button>
            <button type="button" onclick="submitForm('a2c')">Завантажити a2c</button>
        </div>

    </form>

    <div class="box_footer">
         <p>© 2025</p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://autote.tascombank.ua/views/index.js"></script>


</body>
</html>
